*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
  	background-color: #85C1E9;
 }

h1{
  	color: #000;
  	font-size: 25px;
  	text-decoration: none;
  	position: absolute;
  	top: 10%;
  	left: 5%; 
}

form{
  	position: absolute;
	top: 15%;
	left: 5%;
}
input{
	color: #000;
  	font-size: 17px;
 	text-decoration: none;
  	padding: 4px;
}
input:hover{
  	background-color: #ff0;
  	color: #000;
	border: 1.9px solid #000;
	text-decoration: none;
	transition: 0.1s ease;
}

label{
	color: #000;
  	font-size: 17px;
 	text-decoration: none;
  	padding: 4px;
}

select{
	color: #000;
  	font-size: 16px;
 	text-decoration: none;
  	padding: 2px;
}

select:hover{
  	background-color: #ff0;
  	color: #000;
	border: 1.9px solid #000;
	text-decoration: none;
	transition: 0.4s ease;
}

option{
	color: #000;
	background-color: #fff;
  	font-size: 16px;
 	text-decoration: none;
  	padding: 2.5px;
}
button{
	position: absolute;
  	top: 80.5%;
  	left: 37%;
  	border: 2px solid #154360;
  	font-size: 19px;
  	padding: 6.5px 9.5px;
  	color: #000;
 	text-decoration: #00f;
  	transition: 0.5s ease;  
}
button:hover{
  	background-color: #000;
  	color: #fff;
}

.preds{
  	background-color: #000;
	color: #fff ;
	font-size: 20px;
  	padding: 3px 20px;
  	border: 1.5px solid #000;
}
